documentos/exemplos/evolution-api/exemplo_node-red.json
[{"id":"7c3cae37c6cf89a9","type":"group","z":"cbfe77b0b53795a1","name":"Evolution API","style":{"label":true},"nodes":["366a200f61b2f75e","131e5faf5bbab1f4","b7eb75eefe6a7f26","45b285d7c4157e3c","dce50ac9e52e1ba8","485333d46951b178","71f3b59eee525d6a","73474b8b58ee378e","ccbf825b421afca8","d3eb1a9743291c5b","a5e38af009ff0bb2","9d02936402029dbf","672930ebfb3ea604","693a969dd89fc9fe","d9089cc7f6c59576","ba7b68c3f0597eb4","693af70aa0216d94"],"x":74,"y":2159,"w":832,"h":202},{"id":"366a200f61b2f75e","type":"function","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"msg","func":"msg.url = \"http://homeassistant:49152/message/sendMedia/thunderboltbr\"\n\nmsg.payload = {\n    number: \"555199999999\",\n    instance: \"thunderboltbr\",\n    mediatype: \"image\",\n    mimetype: \"image/png\",\n    media: \"https://imgs.search.brave.com/5XQoffUQDvgZzunaxeGes4snLNqss-vOgppyoGTn_74/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pY2hl/Zi5iYmNpLmNvLnVr/L2FjZS93cy82NDAv/Y3BzcHJvZHBiLzhh/MjYvbGl2ZS8xMWYz/ZGQxMC0yMDM3LTEx/ZjAtOGMyZS03NzQ5/OGIxY2UyOTcuanBn/LndlYnA\",\n    caption: \"Aqui vai a legenda da imagem\",\n    fileName: \"nome_da_imagem.png\"\n\n}\n\nmsg.headers = {\n    \"apikey\": \"FB63F08A1EC4-XXXX-XXXX-XXXXXXXXXXXX\",\n    \"Content-Type\": \"application/json\"\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2280,"wires":[["b7eb75eefe6a7f26"]]},{"id":"131e5faf5bbab1f4","type":"inject","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"evolution image","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2280,"wires":[["366a200f61b2f75e"]]},{"id":"b7eb75eefe6a7f26","type":"http request","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":470,"y":2280,"wires":[["45b285d7c4157e3c"]]},{"id":"45b285d7c4157e3c","type":"debug","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":2280,"wires":[]},{"id":"dce50ac9e52e1ba8","type":"function","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"msg","func":"msg.url = \"http://homeassistant:49152/message/sendMedia/thunderboltbr\"\n\nmsg.payload = {\n    number: \"555199999999\",\n    instance: \"thunderboltbr\",\n    mediatype: \"image\",\n    mimetype: \"image/png\",\n    media: msg.payload,\n    caption: \"Aqui vai a legenda da imagem\",\n    fileName: \"nome_da_imagem.png\"\n\n}\n\nmsg.headers = {\n    \"apikey\": \"FB63F08A1EC4-XXXX-XXXX-XXXXXXXXXXXX\",\n    \"Content-Type\": \"application/json\"\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2320,"wires":[["71f3b59eee525d6a"]]},{"id":"485333d46951b178","type":"inject","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"evolution path image","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":2320,"wires":[["ccbf825b421afca8"]]},{"id":"71f3b59eee525d6a","type":"http request","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":670,"y":2320,"wires":[["73474b8b58ee378e"]]},{"id":"73474b8b58ee378e","type":"debug","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":2320,"wires":[]},{"id":"ccbf825b421afca8","type":"file in","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"/homeassistant","filename":"/homeassistant/node-red/stickers/sticker_png.png","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","allProps":false,"x":400,"y":2320,"wires":[["dce50ac9e52e1ba8"]]},{"id":"d3eb1a9743291c5b","type":"function","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"msg","func":"msg.url = \"http://homeassistant:49152/message/sendText/thunderboltbr\"\n\nmsg.payload = {\n    number: \"555199999999\",\n    instance: \"thunderboltbr\",\n    text: \"Teste\"\n}\n\nmsg.headers = {\n    \"apikey\": \"FB63F08A1EC4-XXXX-XXXX-XXXXXXXXXXXX\",\n    \"Content-Type\": \"application/json\"\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":2200,"wires":[["9d02936402029dbf"]]},{"id":"a5e38af009ff0bb2","type":"inject","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"evolution text","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2200,"wires":[["d3eb1a9743291c5b"]]},{"id":"9d02936402029dbf","type":"http request","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":2200,"wires":[["672930ebfb3ea604"]]},{"id":"672930ebfb3ea604","type":"debug","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":2200,"wires":[]},{"id":"693a969dd89fc9fe","type":"function","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"msg","func":"/*\nPara enviar áudio de uma pasta, seguir o mesmo exemplo de \"evolution path image\"\n\nExemplo:\nmsg.payload = {\n    number: \"555199999999\",\n    instance: \"thunderboltbr\",\n    audio: msg.payload\n}\n*/\n\nmsg.url = \"http://homeassistant:49152/message/sendWhatsAppAudio/thunderboltbr\"\n\nmsg.payload = {\n    number: \"555199999999\",\n    instance: \"thunderboltbr\",\n    audio: \"https://github.com/rafaelreis-hotmart/Audio-Sample-files/raw/refs/heads/master/sample.mp3\"\n}\n\nmsg.headers = {\n    \"apikey\": \"FB63F08A1EC4-XXXX-XXXX-XXXXXXXXXXXX\",\n    \"Content-Type\": \"application/json\"\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2240,"wires":[["ba7b68c3f0597eb4"]]},{"id":"d9089cc7f6c59576","type":"inject","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"evolution audio","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2240,"wires":[["693a969dd89fc9fe"]]},{"id":"ba7b68c3f0597eb4","type":"http request","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":470,"y":2240,"wires":[["693af70aa0216d94"]]},{"id":"693af70aa0216d94","type":"debug","z":"cbfe77b0b53795a1","g":"7c3cae37c6cf89a9","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":2240,"wires":[]}]